@use "../components/news-table";

.manage {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &-container {
    grid-column: 2 / span 10;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #303030;
    margin-bottom: 2.5rem;
  }

  .btn {
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 1.25rem;
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    display: inline-block;

    &.btn-primary {
      color: white;
      background-color: #3287d6;
    }
  }
}
